.background-page {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  gap: 20px;
  position: relative;
}

.background-wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.background-page-intro {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}
.background-page-intro-header {
  font-size: 30px;
}
.background-page-intro-text {
  font-size: 12px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  max-width: 1000px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.background-wrapper {
  background-color: rgb(0, 0, 0);
}

.vertical-timeline-element-content {
  background-color: tomato;
  background-color: #121212;
  box-shadow: none;
}
/* .vertical-timeline-element--education {
  background-color: #121212;
} */
.company-name {
  color: tomato;
  font-family: sans-serif;
  font-size: 12px;
}
.vertical-timeline-element-content p {
  font-family: sans-serif;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  font-size: 13px;
  word-spacing: -1px;
}
