.projects-page {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  gap: 20px;
  position: relative;
}

.projects-page :is(.left-nav, .right-nav) ul li {
  background-color: black;
}
.projects-page :is(.left-nav, .right-nav) ul li:hover {
  background-color: rgb(65, 63, 63);
}
.projects-page-intro {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}
.projects-page-intro-header {
  font-size: 30px;
}

.projects-page-intro-text {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  max-width: 1000px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.projects-page-intro-text p {
  width: 100%;
  font-size: 14px;
  min-width: 200px;
  word-wrap: break-word;
  text-align: justify;
  hyphens: auto;
  padding: 0 10px;
}

.projects-wrapper {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.projects-wrapper .projects-section {
  display: flex;
  width: 100%;
  flex-direction: column;
  position: relative;
  gap: 10px;
}
.projects-wrapper .projects-section .project-header {
  height: 50px;
  display: flex;
  color: tomato;
  font-size: 18px;
  align-items: center;
  padding: 0 20px;
  background: rgb(36, 36, 37);
  position: sticky;
  top: 40px;
  z-index: 10;
}
.projects-wrapper .projects-section .project-details {
  font-size: 14px;
  /* text-align: center; */
  padding: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  min-height: 40px;
}
.projects-wrapper .projects-section .projects {
  max-width: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(250px, 1fr));
  gap: 40px;
  justify-items: center;
  padding: 10px;
}
@media screen and (max-width: 600px) {
  .projects-wrapper .projects-section .projects {
    width: 100%;
    max-width: 300px;
    display: grid;
    margin: auto;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(250px, 1fr));
    gap: 40px;
    justify-items: center;
    padding: 10px;
  }
}
