@import url('./styles.css');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root.dark-mode {
  color: white;
  background-color: #000;
  --nav-background: rgba(255, 255, 255, 0.13);
}

#root.light-mode {
  color: white;
  background-color: #ffffff;
  --nav-background: rgba(0, 0, 0, 0.13);
}

#root {
  font-family: 'Roboto Condensed', sans-serif;
  background-color: #000;
  font-style: normal;
  width: 100%;
  height: 100vh;
}
a {
  text-decoration: none;
}
.home-page {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1000;
}

.left-nav,
.right-nav {
  position: fixed;
  height: 40%;
  z-index: 99;
  width: 45px;
  transform: translateY(calc(50%));
  background: var(--nav-background);
  display: flex;
  top: calc(50% - 40%);
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  backdrop-filter: blur(1.9px);
  -webkit-backdrop-filter: blur(1.9px);
}

.left-nav {
  left: 0;
}
.right-nav {
  right: 0;
}

:is(.left-nav, .right-nav) ul {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
}
:is(.left-nav, .right-nav) ul li {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
:is(.left-nav, .right-nav) ul li:hover {
  background-color: black;
  scale: 1.2;
  border: 1px solid #fff;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.05), 0 0 2px rgba(0, 0, 0, 0.55),
    0 0 3px rgba(0, 0, 0, 0.5), 0 0 4px rgba(0, 0, 0, 0.5),
    0 0 5px rgba(0, 0, 0, 0.5), 0 0 4px rgba(0, 0, 0, 0.5),
    0 0 5px rgba(0, 0, 0, 0.5);
}

:is(.left-nav, .right-nav) ul li .left-nav-icons {
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
#pop-alert {
  display: none;
  position: fixed;
  bottom: 35%;
  left: calc(50% - 70px);
  z-index: 200;
  height: 50px;
  width: 140px;
  background-color: #000;
  justify-content: center;
  align-items: center;
  border: 1px white double;
  border-radius: 3px;
}

.center {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* From https://css.glass */
  background: rgba(0, 0, 0, 0.58);
  /* border-radius: 16px; */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(5.3px);
}
.center .my-profile-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.profile-name-wrapper {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.profile-name {
  color: tomato;
  font-size: 30px;
}
.profile-bio {
  color: white;
  font-size: 16px;
  letter-spacing: 0.5px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  word-spacing: -1px;
}
.center .my-profile-wrapper .profile-img-wrapper {
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
.center .my-profile-wrapper .profile-img-wrapper .profile-img {
  width: 300px;
  height: 300px;
  object-fit: contain;
  border-radius: 100rem;
}

.profile-social-wrapper {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.profile-social-wrapper .profile-social-accounts {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.profile-social-wrapper .profile-social-accounts a {
  cursor: pointer;
}
.profile-social-wrapper .profile-social-accounts .social-account-icon {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile-action-btns-wrapper {
  height: 40px;
  width: 100%;
  color: royalblue;
  display: flex;
  align-items: center;
  margin-top: 10px;
  justify-content: center;
}
.profile-action-btns-wrapper .profile-action-btns {
  width: calc(100% - 70px);
  cursor: pointer;
  max-width: 400px;
  color: royalblue;
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile-action-btns-wrapper .profile-action-btns a {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 5px;
  color: whitesmoke;
  justify-content: center;
}
.profile-action-btns-wrapper .profile-action-btns .action-btns {
  height: 50px;
  width: 50%;
  display: flex;
  align-items: center;
  gap: 5px;
  color: whitesmoke;
  justify-content: center;
  font-size: 14px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: rgba(65, 105, 225, 0.57);
  border: 1px solid rgba(65, 105, 225, 0.18);
}

@media screen and (max-width: 568px) {
  .profile-name {
    font-size: 22px;
  }
  .profile-bio {
    font-size: 12px;
    letter-spacing: -0.1px;
    word-spacing: -2px;
    text-align: center;
  }
  .center .my-profile-wrapper .profile-img-wrapper {
    width: 300px;
    margin-bottom: 30px;
  }
  .center .my-profile-wrapper .profile-img-wrapper .profile-img {
    width: 200px;
    height: 200px;
    border-radius: 5px;
  }

  .profile-social-wrapper {
    height: 50px;
  }
  .profile-social-wrapper .profile-social-accounts {
    gap: 10px;
  }
  .profile-social-wrapper .profile-social-accounts .social-account-icon {
    width: 20px;
    height: 20px;
  }

  .profile-action-btns-wrapper {
    height: 30px;
  }
  .profile-action-btns-wrapper .profile-action-btns .action-btns {
    height: 45px;
    width: 45%;
    gap: 8px;
    font-size: 12px;
  }

  .left-nav,
  .right-nav {
    position: fixed;
    height: 35%;
    width: 40px;
  }

  :is(.left-nav, .right-nav) ul li .left-nav-icons {
    height: 24px;
    width: 24px;
  }
}
.focus {
  color: rgb(137, 164, 244);
  /* color: tomato; */
  scale: 1.05;
}
